<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item border border-2 border-light rounded-pill mx-3 bg-success" style="width: 100px; text-align: center">
          <a class="nav-link " aria-current="page" routerLink="/product/list">LIST</a>
        </li>
        <li class="nav-item border border-2 border-light rounded-pill mx-3 bg-success" style="width: 100px; text-align: center">
          <a class="nav-link " routerLink="/product/create">CREATE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!--<app-product-create></app-product-create>-->
