<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layer :: head">
<body>
<!-- Responsive navbar-->
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12"><h2>Customer</h2></div>
                </div>
            </div>
            <div class="table-title">
                <a th:href="@{/}" class="btn btn-success"><span>Black list Customer</span></a>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>
                    <!--                    <th>City <i class="fa fa-sort"></i></th>-->
                    <!--                    <th>Pin Code</th>-->
                    <!--                    <th>Country <i class="fa fa-sort"></i></th>-->
                    <!--                    <th>Actions</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:object="${customer}">
                    <td hidden th:text="*{id}"></td>
                    <td th:text="*{id}"></td>
                    <td th:text="*{firstName}" style="font-weight: bold"></td>
                    <td th:text="*{lastName}">
                    </td>
                    <td>
                        <a th:href="@{/{id}/edit(id=${customer.getId()})}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a href="#" th:attr="data-href='/'+ ${customer.getId()} + '/delete'" data-target="#confirm-delete" data-toggle="modal" class="delete" title="Delete" ><i class="material-icons" data-toggle="tooltip">&#xE872;</i></a>
                    </td>

                    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                </div>

                                <div class="modal-body">
                                    <p>You are about to delete one track, this procedure is irreversible.</p>
                                    <p>Do you want to proceed?</p>
                                    <p class="debug-url"></p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger btn-ok">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>
</body>
</html>