<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layer :: head"/>
<body>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <a th:href="@{/provinces}" class="btn btn-success"><span><< Back to list Provice</span></a>
            </div>
            <div class="modal-content">
                <form th:action="@{/provinces/save}" th:object="${province}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Province</h4>
                        <button type="button" class="close" data-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Province Name</label>
                            <input type="text" class="form-control" th:field="*{name}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>