<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layer :: head">
<body>
<!-- Responsive navbar-->
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Province <b>List</b></h2></div>
                    <div class="col-sm-4">
                        <form action="">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input th:value="${namePro}" name="namePro" type="text" class="form-control"
                                       placeholder="Search&hellip;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-title">
                <a th:href="@{/provinces/create}" class="btn btn-success"><span>Add New Province</span></a>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Province Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="province,test : ${provinces}">
                    <td hidden th:text="${province.id}"></td>
                    <td th:text="${test.count + (provinces.number*5)}"></td>
                    <td th:text="${province.name}" style="font-weight: bold"></td>
                    </td>
                    <td>
                        <a th:href="@{/view/{id}(id=${province.getId()})}" href="#" class="view" title="View"
                           data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                        <a th:href="@{/provinces/edit/{id}(id=${province.getId()})}" class="edit" title="Edit"
                           data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a href="#" th:attr="data-href='/provinces/delete/'+ ${province.getId()}"
                           data-target="#confirm-delete" data-toggle="modal" class="delete" title="Delete"><i
                                class="material-icons" data-toggle="tooltip">&#xE872;</i></a>
                    </td>

                    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                </div>

                                <div class="modal-body">
                                    <p>You are about to delete one track, this procedure is irreversible.</p>
                                    <p>Do you want to proceed?</p>
                                    <p class="debug-url"></p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger btn-ok">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div style="text-align: center">Total Items <b th:text="${totalItems}"></b></div>
                <div class="hint-text">Showing <b th:text="${provinces.number + 1}"></b> out of <b
                        th:text="${provinces.totalPages}"></b> entries
                </div>
                <ul class="pagination">

                    <li class="page-item disabled"><a th:href="@{'/provinces/'(page=${provinces.number - 1},namePro = ${namePro})}"
                                                      th:if="${provinces.hasPrevious()}" href="#"><i
                            class="fa fa-angle-double-left"></i></a></li>
                    <div th:each="i : ${#numbers.sequence(1,provinces.totalPages)}">
                        <li class="page-item"><a th:if="${currentPage != i }" th:href="@{'/provinces/'(page=${i -1},namePro = ${namePro})}"
                                                 th:text="${i}" class="page-link"></a>
                        </li>
                        <li class="page-item"><a th:unless="${currentPage != i }" th:href="@{'/provinces/'(page=${i - 1},namePro = ${namePro})}"
                                                 th:text="${i}" class="page-link"
                                                 style="font-weight: bold; color: red"></a>
                        </li>

                    </div>

                    <li class="page-item"><a th:href="@{'/provinces/'(page=${provinces.number + 1},namePro = ${namePro})}"
                                             th:if="${provinces.hasNext()}" href="#" class="page-link"><i
                            class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>
</body>
</html>