<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/create}" th:object="${test}" th:method="post">
    <label>Name</label>
    <input hidden th:field="*{id}">
    <input th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label>Phone</label>
    <input th:field="*{phone}">
    <label>Address</label>
    <input th:field="*{address}">
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>