<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layer :: head"/>
<body>
<nav th:replace="/layer :: nav"/>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <a th:href="@{/contract-detail}" class="btn btn-success"><span><< Back to list Contract Detail</span></a>
            </div>
            <div class="modal-content">
                <form th:action="@{/contract-detail/update}" th:object="${contractDetail}" method="post">
                    <input type="hidden" th:field="*{contract_detail_id}"/>
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Contract Detail</h4>
                        <button type="button" class="close" data-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Contract</label>
                            <select class="form-control" th:field="*{contract}">
                                <option value="" label="--- Chọn ---"></option>
                                <option th:each="c : ${contracts}" th:text="${c.contract_id}" th:value="${c.contract_id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Attach Service</label>
                            <select class="form-control" th:field="*{attachService}">
                                <option value="" label="--- Chọn ---"></option>
                                <option th:each="attach : ${attachServices}" th:text="${attach.getAttach_service_name()}" th:value="${attach.attach_service_id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" class="form-control" th:field="*{quality}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>