<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PhoneNumber</title>
    <style>
        .error{
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
<h2>User Registration</h2>
<form th:action="@{/create}" th:object="${user}" th:method="post">
    <table>
        <tr>
            <td>
                <label>Firt Name:</label>
            </td>
            <td>
                <input th:field="*{firstName}">
            </td>
        </tr>
        <tr>
            <td> </td>
            <td class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</td>
        </tr>
        <tr>
            <td><label>Last Name:</label></td>
            <td><input th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td> </td>
            <td class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">firstName Error</td>
        </tr>
        <tr>
            <td><label>Age:</label></td>
            <td><input th:field="*{age}"></td>
        </tr>
        <tr>
            <td> </td>
            <td class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age Error</td>
        </tr>
        <tr>
            <td><label>Phone:</label></td>
            <td><input th:field="*{phone}"></td>
        </tr>
        <tr>
            <td> </td>
            <td class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td><input th:field="*{email}"></td>
        </tr>
        <tr>
            <td> </td>
            <td class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
        </tr>
        <tr>
            <td> </td>
            <td><input type="submit" value="SUBMIT"></td>
        </tr>
    </table>
</form>
</body>
</html>