* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.container {
   margin: 0;
   padding: 0;
}
.nav-font {
   color: #393b3d !important;
   font-size: 16px;
   font-weight: 500;
   font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.navbar {
   overflow: hidden;
   background-color: #dee1e3;
   border: solid #c7cbce;
   border-width: 0 0 1px;

   display: flex;
   align-items: center;
}
.navbar a {
   float: left;
   padding: 0 16px;
   text-decoration: none;
}

.navbar a img {
   height: 50px;
}
.dropdown {
   float: left;
   overflow: hidden;
}
.dropdown .dropbtn {
   font-size: 16px;
   padding: 14px 16px;
   /*margin: 0;*/
}
.navbar a:hover, .dropdown:hover .dropbtn {

   font-weight: bold;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
.dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}
.dropdown-content a:hover {
   background-color: #ddd;
}
.dropdown:hover .dropdown-content {
   display: block;
}

/*--- Body ---*/
.anime-slide {
   width: 100%;
   max-height: 400px;
   height: auto;
}